extends base.pug

block content
  a.new-article(href=newRoute)
    span.material-symbols-outlined.icon &#xe145;
    span.label New article
  ul.article-list
    each article in articles
      li.article-item.admin
        div.article-info
          a.article-title(href=article.route)= article.title
          time.article-date(datetime=article.date)= article.formattedDate
        a.article-action(href=article.editRoute title='Edit')
          span.material-symbols-outlined &#xe3c9;
        a.article-action(href=article.deleteRoute title='Delete')
          span.material-symbols-outlined &#xe872;
