extends base.pug

block content
  a(href=newRoute) New article
  ul
    each article in articles
      li
        a(href=article.route)= article.title
        time(datetime=article.date)= article.formattedDate
        a(href=article.editRoute) Edit
        form(action=article.deleteRoute method='post')
          input(type='submit' value='Delete')
