extends /base.pug

block content
  form(action=formUrl method='post')
    div.field
      label(for='title') Title
      input(
        type='text'
        name='title'
        id='title'
        size='50'
        maxlength='100'
      )
    div.field
      label(for='date') Publication date
      input(
        type='date'
        name='date'
        id='date'
      )
    div.field
      label(for='content') Content
      textarea(
        name='content'
        id='content'
        rows='17'
        cols='50'
      )
    button(type='submit') Submit
